@import url(https://fonts.googleapis.com/css?family=Bangers);



.score {
font-weight: normal;
color: rgb(246,	90,	250);
text-transform: uppercase;
font-size: 60px;
white-space: nowrap;
z-index: 1000;
font-family: 'Bangers', cursive;
// text-shadow: 5px 5px 0 #FFBAF2;
min-width: 40px;
text-align: center;
}

.gameScore {
    display:flex;
    justify-content: space-between;
}

.World {
    grid-area: render;
    justify-self: center;
    align-self: flex-start;
}

