@import "../../theme/PrimaryColors.scss";
@import "../../theme/Fonts.scss";

.score {
  color: $highlightColor;
  font-size: 60px;
  // text-shadow: 5px 5px 0 #FFBAF2;
  min-width: 40px;
  text-align: center;
}

.gameScore {
  display: flex;
  justify-content: space-between;
}

.World {
    @extend .bangerFont;
    grid-area: render;
    justify-self: center;
    /* align-self: flex-start; */
    justify-content: center;
    align-content: center;
    height: 668px;
    width: 1000px;
    outline: none;
}

.gameOverContainer {
    display:flex;
    height: inherit;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.gameOverElement {
    font-size: 40px;
}
